@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

* {
  margin: 0;
  padding: 0;
}

.cero {
  margin: 0;
  padding: 0;
}

.hover:hover {
  color: black !important;
}
.hoverCarrito:hover {
  transform: scale(1.08);
}
.hoverImg:hover {
  transform: scale(1.02);
}

.none {
  display: "none";
}

body {
  display: flex;
  justify-content: center;
}

#divGeneralItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  background-color: rgb(245, 235, 215);
}
.divItem {
  margin: 8px 0;
  width: 300px;

  border: 1px solid rgb(191, 194, 191);
  background-color: rgb(246, 248, 246);
}

.boton {
  width: 30px;
  margin: 9px;
}
.span {
  margin: 4px;
}

.divImg {
  overflow: hidden;
  height: 326px;
}

.margen {
  margin: 5px 5px 5px 9px;
}
.itemDetailDiv {
  background-color: #ffffff99;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemDetail {
  background-color: #cccccc;
  padding: 20px;
  display: flex;
}
.itemDetailBotonSalir {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 25px;
}
.divRelativo {
  position: relative;
}

.displayNone {
  display: none;
}
