@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: italic;
}

.cero {
  margin: 0;
  padding: 0;
}

.hover:hover {
  color: #fb00a2;
  transform: scale(1.03);
}
.hoverS:hover {
  /* color: #fb00a2 !important; */
  transform: scale(1.01);
  z-index: 110;
  border-bottom: 2px solid #fb00a2;
}
.hoverCarrito:hover {
  transform: scale(1.05);
}
.hoverImg:hover {
  transform: scale(1.03);
}

.none {
  display: "none";
}

body {
  display: flex;
  justify-content: center;
}

#divGeneralItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  background-color: #f3f1f1;
  min-height: 71vh;
  align-items: flex-start;
  border-right: 1px solid #bdb8b8;
  border-left: 1px solid #bdb8b8;
}
.divItem {
  position: relative;
  margin: 8px 0;
  width: 300px;
  border: 1px solid rgb(191, 194, 191);
  background-color: rgb(246, 248, 246);
  border-radius: 3px;
}

.boton {
  width: 30px;
  margin: 9px;
}
.span {
  margin: 4px;
}

.divImg {
  overflow: hidden;
  /* height: 480px; */
  object-fit: cover;
}
.imgDivImg {
  width: 303px;
  height: 326px;
}
.imgDivImgDetail {
  width: 303px;
  height: 326px;
}

.margen {
  margin: 7px 7px 7px 9px;
}
.itemDetailDiv {
  background-color: #ffffff99;
  min-height: 70vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemDetail {
  background-color: #cccccc;
  padding: 20px;
  display: flex;
}
.itemDetailBotonSalir {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 25px;
}
.divRelativo {
  position: relative;
}

.displayNone {
  display: none;
}
.padding {
  padding: 3px;
}

/*------------------------*/

.activeNavLink {
  transform: rotate(1.03) !important ;
}

.logoNavLink {
  text-decoration: none;
}

/*------------------------*/

.nav {
  display: flex;
  justify-content: space-between;
  color: rgb(90, 90, 90);
  font-size: 25px;
  width: 1000px;
  background-color: #d4d0d0;
  border: 1px solid #bdb8b8;
}

.ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
  margin: 5px;
  width: 800px;
}

.divLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  line-height: 0em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

.logoArriba {
  text-decoration: underline;
  color: #fb00a2;
}

.logoAbajo {
  color: #fb00a2;
  margin-top: 24px;
  margin-left: 50px;
}

.inputBuscar {
  font-size: 16px;
  padding-left: 4px;
}

.carrito {
  width: 31px;
  text-align: center;
}
.liCarrito {
  width: 47px;
}

.ulVistaRapida {
  position: relative;
  z-index: 1000;
}
.liVistaRapida {
  display: none;
}
.ulCarrito {
  list-style-type: none;
}
.ulVistaRapida:hover .liVistaRapida {
  /* display: block; */
  display: flex;
  flex-direction: row-reverse;
  flex: 1 !important;
  position: absolute;
  top: 37px;
  right: -79px;
  font-size: 16px;
  background-color: antiquewhite;
  /* width: 500px; */
  border: 1px solid #bdb8b8;
}
.liCard {
  position: relative;
  margin-bottom: -5px;
}
.containerDitail {
  min-height: 70vh;
  border-right: 1px solid #bdb8b8;
  border-left: 1px solid #bdb8b8;
}

.itemEnCarrito {
  display: flex;
}
.datoCarrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 7px 0px; */
  margin: 7px 7px 7px 5px;
  width: 285px;
  padding-left: 15px;
  padding-right: 15px;
  /*  transform: translateX(10px); */
  transform: translate(0px, -2px);

  border-top: 1px solid #bdb8b8;
  border-bottom: 1px solid #bdb8b8;
  box-sizing: border-box;
  /*  background: linear-gradient(top, transparent, #ffffff99, transparent); */
  background: linear-gradient(
    0.25turn,
    transparent,
    #ffffff99,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff99,
    transparent
  );
}
.datoCarritoNombreProducto {
  margin: 7px;
  width: 235px;
}
.botonP {
  padding: 4px;
  width: 100px;
}
.divTotalyBorrar {
  margin-left: 60%;
}

.prodEnCarritoDesdeRouter {
  background-color: #f3f1f1;
  min-height: 60vh;
  padding: 50px 100px;

  background-color: #f3f1f1;

  border-right: 1px solid #bdb8b8;
  border-left: 1px solid #bdb8b8;
  font-size: 20px;
}
.botonS-R {
  padding: 8px;
  margin: 3px;
  min-width: 25px;
}
.divBotonS-R {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex1 {
  display: inline-block;
  flex: 1;
}
.menos {
  border: 1px solid #706e01fa;
  color: #363b01;
  background-color: #f1f0b6fa;
  border-radius: 8px;
  min-height: 19px;
}
.menos:hover {
  border: 1px solid #3a4101;
  background-color: #d1ce04fa;
}
.mas {
  border: 1px solid #079602;
  color: #033a01;
  background-color: #bcfaba;
  border-radius: 8px;
  min-height: 19px;
}
.mas:hover {
  border: 1px solid #033b01;
  background-color: #3acc35;
}

.imgEnCarrito {
  width: 90px;

  overflow: hidden;
  min-width: 102px !important;

  margin: 5px;
  border: 1px solid rgb(191, 194, 191);
}
/* .divImgEnCarrito {
  display: flex;
  align-items: center;
} */

.carritoSinProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tituloCarritoSinProductos {
  text-align: center;
  font-family: "Redressed", cursive;
  font-size: 29px;
}
.linkCarritoSinProductos {
  text-align: center;
  text-decoration: none;
}
.botonCarritoSinProductos {
  font-size: 22px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  border-radius: 7px;
  transition: 0.2s;
  color: #fb00a2;
  border: 1px solid #fb00a2;
}
.botonCarritoSinProductos:hover {
  transform: scale(1.05);
  background-color: rgb(194, 208, 248);
  border: 2px solid #fb00a2;
}
.datosDeCompra {
  background-color: #f3f1f1;
  border-right: 1px solid #bdb8b8;
  border-left: 1px solid #bdb8b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #bdb8b8;
  border-bottom: 1px solid #bdb8b8;
}
.tituloDeDatosDeCompra {
  margin: 8px;
  font-size: 18px;
}
.botonTerminarCompra {
  margin: 10px;
  transition: 0.2s;
  padding: 4px;
  border-radius: 4px;
}
.botonTerminarCompra:hover {
  background-color: rgb(176, 176, 250);
  transform: scale(1.05);
}
.divDeInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputDatos {
  width: 250px;
  margin: 5px;
  padding: 1px 4px;
}
.divOrdenDeCompra {
  margin: 80px 200px;
  padding: 40px 10px;
  border: 3px solid #fb00a2;
  border-radius: 6px;
  text-align: center;
  line-height: 45px;
}
/* .divImg {
  border: 1px solid rgb(191, 194, 191);
  border-bottom: 2px solid rgb(191, 194, 191);
} */
.maxImg {
  max-width: 600px;
}
.continuarMiCompra {
  margin-left: 25px;
}

/*---------------------------------------------------------------------------------------------------*/
.carritoLength {
  display: inline-block;
  position: relative;
  left: -21px;
  font-size: 10px;
  top: -19px;
  color: rgb(90, 90, 90);
  border: 2px solid rgb(90, 90, 90);
  border-radius: 20%;
  width: 12px;
  height: 12px;
  background-color: #d4d0d0;
  text-align: center;
  /* font-weight: 600; */
}

.liSubUl {
  position: relative;
  z-index: 100;
}
.subUl {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  color: rgb(90, 90, 90);
  font-size: 25px;
  position: absolute;
  display: none;
  background-color: #d4d0d0;
  text-decoration: none;
  width: 107px;

  border-bottom: 1px solid #b3afaf;

  box-sizing: border-box;

  transform: translateX(-26px);
  width: 160px;
}
.liSubUl:hover .subUl {
  display: block;
}
.subLi1 {
  margin-top: 5px;
  padding-bottom: 4px;
  border-top: 1px solid #999898;
}
.subLi2 {
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #999898;
}
.subLi3 {
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #999898;
}
.subLi {
  transition: 0.1s;
  text-align: center;

  border-right: 1px solid #999898;
  border-left: 1px solid #999898;

  width: 160px;

  list-style-type: none;
  background-color: #ffffff99;
}
.subLi a {
  font-size: 20px;
  color: rgb(90, 90, 90);
  text-decoration: none;
}

.loading {
  position: fixed;
  top: 30%;
  left: 45%;
  width: 170px;
  height: 170px;
  border: 10px solid #eee;
  border-top: 15px solid rgb(38, 69, 245);
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.botonVerDetalle {
  padding: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
}
.botonHover:hover {
  border-radius: 3px;
  border: 2px solid #302ed399;
  color: #140ebd99;
}
.hoverScale:hover {
  transform: scale(1.03);
}
/*-------------------------------footer------------------------------------------------*/

footer {
  grid-area: footer;
  bottom: 0;
  right: 0;
  background: #d4d0d0;
  width: 100%;
  margin-left: 0vw;
  margin-top: 0vh;
  display: flex;
  border: 1px solid #bdb8b8;
  box-sizing: border-box;
}

footer .datosFooter {
  width: 50%;
  margin-top: 2.1em;
  padding-left: 5%;
  margin-right: 5px;
  margin-bottom: 1.5em;
  font-family: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer .datosFooter p span {
  font-weight: 650;
}

footer .pagAmigas {
  margin-right: 5%;
  margin-top: 2.1em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  width: 50%;
}

footer .pagAmigas .divP {
  display: flex;
  justify-content: center;
}

footer .pagAmigas .divP p {
  font-size: 20px;
  font-style: italic;
  font-family: italic;
  margin-bottom: 1em;
}

footer .pagAmigas .footer-span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .pagAmigas .footer-span .paginasAmigas {
  display: inline-block;
  transition: all 0.2s;
  margin: 0 6px;
}

footer .pagAmigas .footer-span .paginasAmigas .tam {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  transition: all 0.4s;
}

footer .pagAmigas .footer-span .paginasAmigas .tam:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 18px 5px #00000099;
}
